# IONOS Datenbank-Konfiguration
DB_HOST=dbxxxxxx.hosting-data.io
DB_USER=dboxxxxxx
DB_PASSWORD=DeinSicheresPasswort
DB_NAME=dbxxxxxx

# Server Port
PORT=4000

# Sicherheit (Generiere einen langen zufälligen String für Produktion!)
JWT_SECRET=super-secret-casino-key

# Umgebung
NODE_ENV=development
